:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --title-color: #ffffff;
  --main-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
  --border-header-color: #ececec;
  --border-portfolio-color: #eeeeee;
  --hover-button-color: #188ce8;
  --team-social-icon-color: #afb1b8;
  --social-bg-icon-color: rgba(255, 255, 255, 0.1);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.menu {
  display: inline-flex;
}

.menu-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.contacts .icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-item {
  justify-content: flex-end;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header {
  font-weight: 500;
  border-bottom: 1px solid var(--border-header-color);
}

.header .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header .logo {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.studio {
  color: var(--title-color);
}

.accent {
  color: var(--accent-color);
}

.menu-link {
  color: var(--main-text-color);

  position: relative;
  transition: color var(--animation);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  background-repeat: no-repeat;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.contacts {
  color: var(--secondary-text-color);
}

.contacts-link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color var(--animation);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.hero-section {
  display: flex;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  align-items: center;
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-content {
  display: block;
  margin: 0 auto;
  width: 696px;
}

.hero-title {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-color);
}

.button {
  min-width: 200px;
  padding: 10px 32px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--title-color);
  background-color: var(--accent-color);
  transition: background-color var(--animation);
}

.button:hover,
.button:focus {
  background-color: var(--hover-button-color);
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-grid {
  display: flex;
  flex-wrap: wrap;
}

.features-item::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-repeat: no-repeat;
  background-color: var(--main-bg-color);
  background-size: 70px 70px;
  border-radius: 4px;
  background-position: center;
  margin-bottom: 30px;
}

.item-antenna::before {
  background-image: url(../images/icons/antenna.svg);
}

.item-clock::before {
  background-image: url(../images/icons/clock.svg);
}

.item-diagram::before {
  background-image: url(../images/icons/diagram.svg);
}

.item-astronaut::before {
  background-image: url(../images/icons/astronaut.svg);
}

.features-item {
  flex-basis: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
}

.features-item:nth-child(4n) {
  margin-right: 0;
}

.features {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.work-section {
  padding-top: 0;
}

.work-grid {
  display: flex;
  flex-wrap: wrap;
}

.work-item {
  flex-basis: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
}

.work-item:nth-child(3n) {
  margin-right: 0;
}

.work-link {
  position: relative;
  display: block;
}

.product {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--title-color);
}

.product-thumb {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.team-grid {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  flex-basis: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--title-color);
}

.team-item:nth-child(4n) {
  margin-right: 0;
}

.team-content {
  text-align: center;
  padding: 30px 22px;
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
}

.social-icons {
  display: inline-flex;
}

.social-icons .icon {
  fill: var(--team-social-icon-color);
}

.social-icons-item + .social-icons-item {
  margin-left: 10px;
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--title-color);
  transition: fill var(--animation), background-color var(--animation);
}

.social-icons-link:hover .icon,
.social-icons-link:focus .icon {
  fill: var(--title-color);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--accent-color);
}

.customers-grid {
  display: flex;
  flex-wrap: wrap;
}

.customers-icon-item {
  flex-basis: calc((100% - 30px * 5) / 6);
  margin-right: 30px;
  border: 1px solid var(--team-social-icon-color);
  border-radius: 4px;
}

.customers-icon-item .customer-icon {
  fill: var(--team-social-icon-color);
}

.customer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  /*width: 170px;*/
  height: 90px;
  background-color: var(--title-color);
  transition: border var(--animation);
}

.customers-icon-item:nth-child(6n) {
  margin-right: 0;
}

.customer-icon-link:hover .customer-icon,
.customer-icon-link:focus .customer-icon {
  fill: var(--accent-color);
}

.customer-icon-link:hover,
.customer-icon-link:focus {
  border: 1px solid var(--accent-color);
}

.customer-icon {
  display: inline-flex;
  transition: fill var(--animation);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.filter-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  margin-right: -8px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  flex-basis: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.bottom-box {
  padding: 20px 24px;
  border-right: 1px solid var(--border-portfolio-color);
  border-bottom: 1px solid var(--border-portfolio-color);
  border-left: 1px solid var(--border-portfolio-color);
}

.buttons-portfolio {
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: var(--main-bg-color);
  transition: color var(--animation), background-color var(--animation),
    box-shadow var(--animation);
  /*outline: none;*/
}

.buttons-portfolio:hover,
.buttons-portfolio:focus {
  color: var(--title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-link {
  display: block;
  transition: box-shadow var(--animation);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.description-portfolio {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.portfolio-text {
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--animation);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translateY(0);
}

/*Футер*/

.grey-bg {
  background-color: var(--main-bg-color);
}

.dark-bg {
  background-color: var(--dark-bg-color);
}

.footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}

.adress {
  display: block;
  margin-top: 20px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-item:not(:first-child) {
  margin-top: 9px;
}

.footer-icons {
  display: inline-flex;
}

.footer-icons .icon {
  fill: var(--title-color);
}

.footer-icons-item + .footer-icons-item {
  margin-left: 10px;
}

.footer-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--social-bg-icon-color);
  transition: background-color var(--animation);
}

.footer-icons-link:hover,
.footer-icons-link:focus {
  background-color: var(--accent-color);
}

.footer-grid {
  display: flex;
  justify-content: space-between;
}

.footer-grid-element {
  flex-basis: calc((50% - 45px) / 2);
}

.footer-grid-element:last-child {
  flex-basis: calc(50% - 10px);
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 20px;
}

.post-adress {
  color: var(--title-color);
}

.mail-phone {
  color: rgba(255, 255, 255, 0.6);
}

.subscription-forma {
  display: inline-block;
}

.subscription-label {
  display: inline-block;
  margin-right: 12px;
}

.subscription-input {
  min-width: 358px;
  min-height: 50px;
  padding-right: 16px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--dark-bg-color);
  color: var(--title-color);
}

.subscription-input:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscription-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button-subscription {
  position: relative;
  padding: 10px 62px 10px 29px;
}

.icon-send {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: var(--title-color);
}

/*Модальное окно*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--backdrop-color);
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity var(--animation);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: scale(0.75);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  max-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--animation);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--title-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill var(--animation);
}

.button-close:hover,
.button-close:focus {
  fill: var(--accent-color);
}

.modal-title {
  /*margin-top: 2px;*/
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}

.form {
  width: 448px;
}

.form-label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--secondary-text-color);
}

.form-input {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.form-field {
  display: block;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 16px 11px 42px;
  transition: border-color var(--animation);
}

/*.form-field:valid {
  color: green;
}

.form-field:invalid {
  color: red;
}*/

.form-field:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-field:focus + .icon-input {
  fill: var(--accent-color);
}

.icon-input {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--main-text-color);
  transition: fill var(--animation);
}

.form-message {
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.form-message::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.button-submit {
  display: block;
  margin-right: auto;
  margin-left: auto;
  /*margin-bottom: 40px;*/
}

.checkbox {
  position: relative;
  display: block;
  padding-left: 30px;
  margin-bottom: 30px;
}

.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  transition: border-color var(--animation), background-color var(--animation),
    background-image var(--animation);
}

.checkbox-input:checked + .checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icons/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox-label {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.checkbox-link {
  color: var(--accent-color);
}
