.contacts {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts__item {
  justify-content: flex-end;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts {
  color: var(--secondary-text-color);
}

.contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color var(--animation);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}
